@tailwind base;
@tailwind components;
@tailwind utilities;

.dropshadow {
  width: 100%;
  filter: drop-shadow(0 10px 8px rgba(20 241 149 / 0.2))
    drop-shadow(0 4px 3px rgba(153 69 255 / 0.3));
}

.blur-background {
  filter: blur(50px); /* Adjust the blur intensity as needed */
}

/* hide scrollbar */
::-webkit-scrollbar {
  display: none;
}
